body{
    user-select: none;
}
.categories {
    text-align: center;
    padding: 2rem;
}

.header {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-size: 100px;
    font-weight: bold;
    background: linear-gradient(to right, #ffffff3c, rgba(250, 220, 190));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: center;
    
}

.class-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
/*linear-gradient(to right, #ffffff4c, #feb47b8a);*/ 

.class-card {
    background-color: black;
    backdrop-filter: blur(10px);
    border: 1px solid rgb(250, 220, 190);
    border-radius: 15px;
    padding: 1rem;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    margin: 0 30px;
    transition: transform 0.3s ease;
    position: relative;
    overflow: hidden;
    color: antiquewhite;
    animation: fadeIn 2s forwards;
}

.class-card:hover {
    transform: scale(1.05);
}


.class-card::before {
    content: '';
    position: absolute;
    top: -100%;
    left: -100%;
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, 0.105);
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.class-card:hover::before {
    opacity: 0.7;
    animation: shine 0.75s ease-in-out forwards;
}

@keyframes shine {
    from {
        transform: translate(-100%, -100%) rotate(45deg);
    }
    to {
        transform: translate(100%, 100%) rotate(45deg);
    }
}

.class-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
    opacity: 0.8;
}

.class-card h2 {
    font-size: 1.5rem;
    margin: 1rem 0;
    opacity: 0.8;
}

.class-card p {
    font-size: 1rem;
    color: #8e8e8e;
}

@media (max-width: 768px) {
    .class-container {
        flex-direction: column;
        align-items: center;
    }
}
